<!-- Carousel -->
<div id="carouselExampleCaptions" class="carousel slide w-100">
  <div class="carousel-inner" style="background-color: rgb(219, 219, 219);">
    <!-- First Slide -->
    <div class="carousel-item active">
      <img src="/assets/banners/1.webp" class="d-block w-100" alt="Image 1" style="object-fit: cover;">
    </div>
    <!-- Second Slide -->
    <div class="carousel-item">
      <img src="/assets/banners/2.webp" class="d-block w-100" alt="Image 2" style="object-fit: cover;">
    </div>
    <!-- Third Slide -->
    <div class="carousel-item">
      <img src="/assets/banners/3.webp" class="d-block w-100" alt="Image 3" style="object-fit: cover;">
    </div>
  </div>
  <!-- Carousel Controls -->
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="container">

<!-- Cards -->
<div class="container">
  <div class="col-lg-12">
    <div class="row">
      <% products.forEach(product => { %>
        <div class="col-lg-3 col-sm-6 mb-3 col-md-4">
          <div class="card product-card mx-3 mt-5">
            <div class="card-img-container position-relative">
              <!-- Link wrapping the image to pass the product ID as a parameter -->
              <a href="/product/<%= product._id %>">
                <img src="/<%= product.variants.images[0] %>" class="card-img-top img-fluid" alt="<%= product.product_name %>">
              </a>
              <% if (product.variants.offer && product.variants.offer.offer_percentage) { %>
                <span class="discount-badge position-absolute top-0 start-0"><%= product.variants.offer.offer_percentage %>%</span>
              <% } %>
              <a href="/product/<%= product._id %>" class="view-icon position-absolute top-0 end-0"><i class="far fa-eye"></i></a>
            </div>
            <div class="card-body text-center">
              <h3 class="card-title" style="font-size: 15px;"><%= product.product_name %></h3>
              <% if (product.variants.offer && product.variants.discount_price) { %>
                <h3 class="price py-2">₹ <%= product.variants.discount_price %> <span class="old-price"><strike><%= product.variants.price %></strike></span></h3>
              <% } else { %>
                <h3 class="price py-2">₹ <%= product.variants.price %></h3>
              <% } %>
              <div class="star-rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
              </div>
              
              <button onclick="addToCartPost('<%= product._id %>')" class="btn btn-primary px-4 mt-3" style="font-size: 14px;">Add to Cart</button>
            </div>
          </div>
        </div>
      <% }); %>
    </div>
  </div>
</div>


<div class="d-flex justify-content-center align-items-center">
  <a href="/products" class="btn btn-primary px-5 py-2 fs-5 m-5">View More</a>
</div>

<section class="py-5">
  <div class="container">

    <div class="mb-4">
      <p class="text-uppercase text-muted">Featured</p>
    </div>
    <!-- Section Header -->
    <div class="mb-5">
      <h3 class="h2">New Arrivals</h3>
    </div>
    <!-- Gallery -->
    <div class="row">
      <div class="col-lg-6 mb-4">
        <div class="card bg-dark text-white border-0">
          <img src="/images/new_arrival1/ps5.png" class="card-img" alt="Playstation 5">
          <div class="card-img-overlay d-flex flex-column justify-content-end">
            <h3 class="card-title">PlayStation 5</h3>
            <p class="card-text" style="color: #f7f7f7;">Black and White version of the PS5 coming out on sale.</p>
            <a href="/products" class="btn btn-primary">Shop Now</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="row">
          <div class="col-12 mb-4">
            <div class="card bg-dark text-white border-0">
              <img src="/images/new_arrival1/2.png" class="card-img" alt="Women's Collections">
              <div class="card-img-overlay d-flex flex-column justify-content-end">
                <h3 class="card-title">Smart Phones</h3>
                <p class="card-text" style="color: #f7f7f7;">Featured Smart phones for sale</p>
                <a href="/shop" class="btn btn-primary">Shop Now</a>
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-4">
            <div class="card bg-dark text-white border-0">
              <img src="/images/new_arrival1/3.png" class="card-img" alt="Speakers">
              <div class="card-img-overlay d-flex flex-column justify-content-end">
                <h3 class="card-title" style="color: #f7f7f7;">Headphones</h3>
                <p class="card-text">Featured Headphones with good sound and build quality for sale</p>
                <a href="/shop" class="btn btn-primary">Shop Now</a>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card bg-dark text-white border-0">
              <img src="/images/new_arrival1/4.png" class="card-img" alt="Perfume">
              <div class="card-img-overlay d-flex flex-column justify-content-end">
                <h3 class="card-title" style="color: #f7f7f7;">Laptops</h3>
                <p class="card-text">Best and powerfult laptops for sale</p>
                <a href="/shop" class="btn btn-primary">Shop Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
  function addToCartPost(id) {
    fetch(`/cart/add/${id}`, {
      method: "post",
      headers: {
        "Content-Type": "application/json"
      },
      body: JSON.stringify({ id })
    })
    .then(response => {
      if (!response.ok) {
        throw new Error('Network response was not ok');
      }
      return response.json();
    })
    .then(data => {
      if (data.success) {
        // Trigger SweetAlert on success
        Swal.fire({
          title: 'Added to Cart!',
          text: 'The product has been successfully added to your cart.',
          icon: 'success',
          showConfirmButton:false,
          timer:1000
          
        })
      } else {
        console.error('Error adding to cart:', data.message);
      }
    })
    .catch(error => {
      console.error('There was a problem with the fetch operation:', error);
    });
  }
</script>
